$mainGreen: #6eacb7;
$primaryFont: "Montserrat", sans-serif;
$mainPink: #fdcece;
body {
  background-color: $mainPink;
  display: flex;
  justify-content: center;
}
.hero {
  height: 100vh;
  width: 100vw;
  max-width: 1920px;
  overflow-x: hidden;
  display: flex;
  .heading {
    flex-basis: 0;
    flex-grow: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .headingText {
      position: relative;
      margin-left: 20%;
      h1 {
        font-family: $primaryFont;
        font-size: 50px;
        font-weight: 800;
        color: #ffffff;
        max-width: 700px;
        span {
          color: $mainGreen;
        }
        position: relative;
        z-index: 10;
        margin-bottom: 40px;
      }
    }
    .button {
      margin-left: 20%;
      & > * {
        display: inline;
        padding: 10px;
      }
      padding: 15px;
      width: 204px;
      height: 54px;
      background-color: #6eacb7;
      border: none;
      font-size: 20px;
      font-weight: 700;
      font-family: $primaryFont;
      color: #ffffff;
    }
  }
  .objects {
    position: relative;
    flex: 1;

    .imageFrame {
      position: absolute;
      border: none;
      background-color: #ffffff;
      padding: 4% 4% 70px 4%;
      box-shadow: 7px 4px 20px #e99e9e;
      .image {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.OutlineObject {
  border-width: 3px;
  border-style: solid;
  border-color: $mainGreen;
  position: absolute;
}
